
#container>.content>.title{ border-top: 0.2rem solid #eaeaea;position: relative; margin-top: 0.2rem;}
#container>.content>.title>h1{font-weight:normal; font-size: 0.36rem; font-family: "微软雅黑";color: #292929;float: left; margin-left: 0.2rem;margin-bottom:0.2rem;margin-top:0.2rem;padding-left: 0.08rem;}
#container>.content>.title>h2{font-size: 0.32rem;color: #969595;float: left; margin-top: 0.3rem;font-weight: normal;}
#container>.content>.title>a>.icon>span{display: inline-block;width:40px;height: 0.4rem;color: black; }



#container>.content>.nav{background-color: #f2f2f2;}
#container>.content>.nav>ul>li{border-bottom: 0.02rem solid #d3d3d3;padding-left: 0.2rem;padding-top: 0.1rem;padding-bottom: 0.1rem; }
#container>.content>.nav>ul>.on>a{color: #acce3f;}
#container>.content>.nav>ul>li>a{display: block; text-decoration: none;font-size: 0.3rem; color: #111111;}
#container>.content>.nav>ul>li>a:hover{color: #acce3f;}

/**新闻部分news**/
.news{margin-top: 0.2rem;clear: both;}
.news>ul>li{border-bottom:0.01rem solid gray;padding-bottom: 0.3rem;}
.news>ul>li:nth-of-type(2){clear: both;/*padding-top:0.2rem; */}
.news>ul>li:nth-of-type(3){clear: both;}
.news>ul>li:nth-of-type(4){clear: both;}
.news>ul>li:nth-of-type(5){clear: both;border: none;}
.news>ul>li>.date{width: 1.25rem;background-color:#01a1ff;float: left;text-align: center;color: white;height: 1.6rem;margin-bottom: 0.4rem;margin-left: 0.2rem;}
.news>ul>li>.date>h4{font-size: 0.22rem;margin-top: 0.15rem;}
.news>ul>li>.date>h3{font-size: 0.32rem;}
.date>h2{font-size: 0.32rem;/*position: relative;top:-0.05rem;*/ padding-bottom: 0.2rem;}
.news>ul>li>.date>span{display: inline-block;width:1.25rem;height: 0.02rem;background-color: #afd03f;/* position: relative;bottom: 0.05rem*/}
/**新闻部分右边的部分  内容部分**/
.news>ul>li>.news_right{margin-top:0.2rem;padding-left: 0.2rem;}
.news>ul>li>.news_right:nth-of-type(2){margin-top:-0.03rem;margin-left: 0.2rem;}
.news>ul>li>.news_right>h3{position: relative;left: 0.2rem;}
.news>ul>li>.news_right>h3>a{display: inline-block; color: #01a1ff;margin-left:0.1rem;text-decoration: none;font-size: 0.24rem}
.news>ul>li>.news_right>p{font-size: 0.24rem;line-height: 0.22rem;color: #686464;line-height: 0.28rem;margin-left: 1.3rem;margin-top: 0.05rem;padding-bottom: 0.1rem;line-height: 0.35rem;}
/**设置新闻列表除第一个***/
.clear{clear: both;padding-top: 0.2rem;}
.news>a>button{width: 2rem;height: 0.5rem;background-color: #adce43; color: white;border-radius: 0.3rem;margin-top: 0.3rem; margin-bottom: 0.25rem;display: inline-block;margin-left: 0.8rem;display: inline-block;}
.news>a{text-decoration: none;font-size: 0.24rem;}

/***合作伙伴***/
.content>.partner{border-top: 0.2rem solid #eaeaea;}
.content>.partner>.title{text-align: center;}
.content>.partner>.title>h3{font-size: 0.38rem; margin-top: 0.2rem; color: #111111;}
.content>.partner>.title>span{display: inline-block;width: 2rem;height: 0.01rem;background-color: black; margin: 0.05 auto;}
.content>.partner>.title>h4{font-size: 0.32rem;color: #111111;}
/***合作伙伴***/

/**小图标***/
#container>.content>.title>.nav_toggle{float: right;margin-top: 0.15rem; margin-right: 0.2rem;}
#container>.content>.title>.nav_toggle>span{display: block; width: 0.4rem;height: 0.05rem;background-color: black; margin-top: 0.1rem;}
/**小图标***/


/**特效导航**/
.nav_toggle{ position: absolute;right: 0.15rem;border: none; background: none; height: 0.6rem;overflow: hidden;top:50%;margin-top: 0.19rem;transition:all 0.8s;}
.nav_toggle>span{ display: block; width: 0.43rem;height: 0.04rem; background: #666666;margin-bottom: 0.13rem;}
.navbar{ position: absolute; width: 100%; background: #e6e6e6;top:4.82rem; width: 45%;right:-45%;transition:all 0.8s;}
.navbar.active{ right: 0;}
.navbar li{ height: 0.5rem; line-height: 0.5rem; font-size: 0.2rem; font-family: '微软雅黑';}
.navbar>ul>li:nth-of-type(5){padding-bottom: 0.4rem;}
.navbar li a{ display: block; color: #e94729; padding:15px;font-size: 0.18rem;}
/*//新添类名*/
.nav_toggle.active{transform:rotate(360deg);right:50%;}
/**特效导航**/
